golf-stats/GolfStats/.vs/GolfStats/v17/.suo
golf-stats/GolfStats/.vs/GolfStats/DesignTimeBuild/.dtbcache.v2
golf-stats/GolfStats/.vs/GolfStats/DesignTimeBuild/.dtbcache.v2
golf-stats/GolfStats/.vs/GolfStats/DesignTimeBuild/.dtbcache.v2
golf-stats/GolfStats/.vs/GolfStats/v17/.futdcache.v1
golf-stats/GolfStats/.vs/GolfStats/v17/.suo
golf-stats/GolfStats/GolfStats/ClientApp/.angular
golf-stats/GolfStats/.vs/GolfStats/DesignTimeBuild/.dtbcache.v2
golf-stats/GolfStats/.vs/GolfStats/v17/.futdcache.v1
golf-stats/GolfStats/.vs/GolfStats/v17/.suo
