<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Birth Date</th>
      <th scope="col">Nickname</th>
      <th scope="col">Mobile</th>
      <th scope="col">Address</th>
      <th scope="col">Home Course</th>
      <th scope="col">Active</th>
    <tr>
  </thead>
  <tbody>
    <tr *ngFor="let golfer of golfers">
      <td>{{ golfer.firstName }} {{ golfer.lastName }}</td>
      <td>{{ golfer.emailAddress }}</td>
      <td>{{ golfer.birthDate | date: 'MMMM d'}}</td>
      <td>{{ golfer.nickname }}</td>
      <td>{{ golfer.mobilePhone }}</td>
      <td>
        <tr>
          {{ golfer.address1 }}
        </tr>
        <tr>
          {{ golfer.address2 }}
        </tr>
        <tr>
          {{ golfer.city }}, {{ golfer.state }} {{ golfer.postalCode }}
        </tr>
      </td>
      <td>{{ golfer.homeCourseId }}</td>
      <td>{{ golfer.isActive }}</td>
    </tr>
  </tbody>
</table>
