<h1 id="tableLabel">Golfers</h1>

<p *ngIf="!golfers"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="golfers">
  <thead>
    <tr>
      <th>User ID</th>
      <th>Name</th>
      <th>Birth Date</th>
      <th>Active</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let golfer of golfers">
      <td> {{ golfer.aspNetUserId }} </td>
      <td> {{ golfer.firstName }} {{ golfer.lastName }} </td>
      <td> {{ golfer.birthDate | date: 'MM/dd/yyyy'}} </td>
      <td> {{ golfer.isActive }} </td>
    </tr>
  </tbody>
</table>
