<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Address1</th>
      <th scope="col">Address2</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">Zip</th>
      <th scope="col">IsActive</th>
    <tr>
  </thead>
  <tbody>
    <tr *ngFor="let course of courses">
      <td>{{ course.name }}</td>
      <td>{{ course.address1 }}</td>
      <td>{{ course.address2 }}</td>
      <td>{{ course.city }}</td>
      <td>{{ course.state }}</td>
      <td>{{ course.postalCode }}</td>
      <td>{{ course.isActive}}</td>
    </tr>
  </tbody>
</table>
