<table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">AddressID</th>
      <th scope="col">Address1</th>
      <th scope="col">Address2</th>
      <th scope="col">City</th>
      <th scope="col">State</th>
      <th scope="col">PostalCode</th>
      <th scope="col">Country</th>
      <th scope="col">IsActive</th>
      <th scope="col">WhoCreatedID</th>
      <th scope="col">WhenCreated</th>
      <th scope="col">WhoModifiedID</th>
      <th scope="col">WhenModified</th>
    <tr>
  </thead>
  <tbody>
    <tr *ngFor="let address of addresses">
      <th scope="row">{{ address.addressID }}</th>
      <td>{{ address.address1}}</td>
      <td>{{ address.address2}}</td>
      <td>{{ address.city}}</td>
      <td>{{ address.state}}</td>
      <td>{{ address.postalCode}}</td>
      <td>{{ address.country}}</td>
      <td>{{ address.isActive}}</td>
      <td>{{ address.whoCreatedID }}</td>
      <td>{{ address.whenCreated | date: 'M/d/yyyy HH:mm:ss' }}</td>
      <td>{{ address.whoModifiedID }}</td>
      <td>{{ address.whenModified | date: 'M/d/yyyy HH:mm:ss' }}</td>
    </tr>
  </tbody>
</table>
